<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<list>
				<value>classpath:sqlmaps/Address.xml</value>
				<value>classpath:sqlmaps/Cart.xml</value>
				<value>classpath:sqlmaps/CartItem.xml</value>
				<value>classpath:sqlmaps/Product.xml</value>
				<value>classpath:sqlmaps/Customer.xml</value>
				<value>classpath:sqlmaps/Tax.xml</value>
			</list>
		</property>
	</bean>

	<bean id="cartDAO" class="com.spring.angular.shop.dao.impl.CartDAOImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="productDAO" class="com.spring.angular.shop.dao.impl.ProductDAOImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="taxDAO" class="com.spring.angular.shop.dao.impl.TaxDAOImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="addressDAO" class="com.spring.angular.shop.dao.impl.AddressDAOImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="customerDAO" class="com.spring.angular.shop.dao.impl.CustomerDAOImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="authenticationDAO" class="com.spring.angular.shop.dao.impl.AuthenticationDAOImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="cartService" class="com.spring.angular.shop.service.impl.CartServiceImpl">
		<property name="cartDAO" ref="cartDAO"/>
		<property name="addressDAO" ref="addressDAO"/>
		<property name="taxDAO" ref="taxDAO"/>
	</bean>
	
	<bean id="addressService" class="com.spring.angular.shop.service.impl.AddressServiceImpl">
		<property name="addressDAO" ref="addressDAO"/>
	</bean>
	
	<bean id="customerService" class="com.spring.angular.shop.service.impl.CustomerServiceImpl">
		<property name="customerDAO" ref="customerDAO"/>
		<property name="addressDAO" ref="addressDAO"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
	</bean>
	
	<bean id="authenticationService" class="com.spring.angular.shop.service.impl.AuthenticationServiceImpl">
		<property name="authenticationDAO" ref="authenticationDAO" />
		<property name="passwordEncoder" ref="passwordEncoder"/>
	</bean>
		
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="1" />
	</bean>
	
	<bean id="customerValidator" class="com.spring.angular.shop.validator.CustomerValidator">
		<property name="customerDAO" ref="customerDAO"/>
	</bean>

</beans>