@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-family: Open Sans,sans-serif;
}

h3 {
	font-size:14px;
}

p {
	font-size:12px;
}

#wrapper {
	width: 700px;
	margin: 0 auto;
}

#header {
	background-color:#0099cc; 
	height: 100px;
}

#sidebar {
	background-color:#95bce2; 
	width:150px;
	float:left;
}

#main {
	background-color:#eeeeee; 
	width:700px;
	float:left;
}

#footer {
	background-color:#0099cc;
	clear:both;
	height: 40px;
}

#footer p {
	margin: 5px auto;
	color: #fff;
}

#logo {
	float:left;
	width: 200px;
}
    
#nav {
	margin-left:10px;
	width: 750px;
	color: #fff;
}

.movies {
	padding: 5px;
	border-collapse: collapse;
}

.movies tr {
	border-bottom: 1px solid #0099cc;
	height: 120px;
}

.movies a {
	color: #0099cc;
	font-weight: bold;
	text-decoration:none;
}

.movieDetail {
	padding: 5px;
	border-collapse: collapse;
}

.movieDetail tr {
	border-bottom: 1px solid #0099cc;
	vertical-align: top;
	padding: 0 5px;
}

.movieDetail td {
	padding: 5px;
}

.movieDetail p {
	padding: 0;
	margin: 0;
}

.movieDetail a {
	color: #0099cc;
	font-weight: bold;
	font-size:12px;
	padding: 2px;
	margin: 1px 10px 1px 0;
	text-decoration:none;
	float: left;
	border: 1px solid #0099cc;
}

.bookingTable td {
	text-align: center;
}

.bookingTable input[type='checkbox'] {
	width: 20px;
	height: 20px;
}

#broadcastHour, #broadcastMinute {
	width: 55px;
	float: left;
}

#submitBroadcast {
	width: 170px;
}

#nav ul {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}

#nav ul li {
	float:left;
	position:relative;
	height: 80px;
}

#nav ul li a {
	height:20px;
	line-height:20px;
	padding:0 5px;
	display:block;
	font-weight:bold;
	list-style:outside none none;
	color:blue;
	text-decoration:none;
	text-transform:uppercase;
}

#nav > a {
	color: #fff;
	text-decoration:none;
	text-transform:uppercase;
}

.plink {
	font-size:12px;
	text-decoration:none;
	color:#0099cc;
}

#nav ul a:hover {
	background:rgba (255,255,255,0.2);
} 

#nav ul a:active {
	background:rgba (255,255,255,0.4); 
}

#nav ul ul {
	position:absolute;
	top:80px;
	left:0;
	background:#F00;
}

table.sample {
	border-collapse: collapse;
	width: 95%;
	margin: 24px;
	font-size: 1.1em;
}

table.sample th {
	font: 12px Arial, Sand-Serif;
	font-weight: bold; 
	background: #0099cc;
	color: #fff;
	padding: 2px 11px;
	text-align: left;
	border-right: 1px solid #fff;
	line-height: 1.2;
}

table.sample td {
	font: 12px Arial, Sand-Serif;
	padding: 6px 11px;
	border-bottom: 1px solid #95bce2;
	vertical-align: top;
}

table.sample td * {
	font: 12px Arial, Sand-Serif;
	padding: 6px 11px;
}

table.sample tr td {
	background: #ffffff;
}

table.sample tr.alt td {
	background: #ecf6fc;
}

table.sample tr.over td {
	background: #bcd4ec;
}

table.sample tr.even td {
	background: #bcd4ec;
}

input.error, select.error, { border-color:red; }
span.error, p.error { color:red; }

.form_content {
	font-family: Open Sans,sans-serif;
	border: 1px solid #0099cc;
	background-color: #ECF6FC;
	width: 450px;
	margin: 24px;
}

.form_content p {
	font-size: 14px;
	padding: 5px;
}

.form_content form {
	margin: 20px;
}


.form_content p label {
	float: left;
	width: 150px;
	font-size: 14px;
	font-weight: bold;
  	padding: 3px;
  	color: #333;
}

.form_content p img {
	float: right;
	width: 32px;
}

.form_content p input, 
.form_content p select,
.form_content p textarea {
	font: 14px Arial, Sand-Serif;
	font-size: 14px;
	padding: 4px;
	width: 200px;
	color: #000;
}

.form_content p span {
	float: right;
  	color: red;
	font-size: 12px;
  	font-style: italic;
}

.form_content p textarea {
	font: 14px Arial, Sand-Serif;
	font-size: 14px;
	padding: 4px;
	width: 200px;
}

.form_content input[type="submit"] {
	width: 100px;
	background-color: #0099cc;
	border-color: #0099cc;
	color: #ECF6FC;
	height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
